name: golangci-lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: golangci-lint
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: stable

    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: v2.6
        args: --timeout=5m



